<header class="header container" id="header-host">
  <div class="header__left-block">
    <a href="/" class="header__logo-wrapper">
      <img src="img/header/logo.svg" alt="logo" class="header__logo">
    </a>

    <a href="{{ linkPrev.link }}" class="header__link-prev">
      <svg class="header__link-prev-icon" width="17" height="17" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.28439 4.05712C7.45462 4.23586 7.45462 4.52565 7.28439 4.70439L4.10543 8.0423H12.6428C12.8836 8.0423 13.0787 8.24721 13.0787 8.49999C13.0787 8.75277 12.8836 8.95768 12.6428 8.95768H4.10543L7.28439 12.2956C7.45462 12.4743 7.45462 12.7641 7.28439 12.9429C7.11416 13.1216 6.83816 13.1216 6.66794 12.9429L2.74486 8.82363C2.57463 8.64489 2.57463 8.35509 2.74486 8.17635L6.66794 4.05712C6.83816 3.87838 7.11416 3.87838 7.28439 4.05712Z"/></svg>
      {{ linkPrev.text }}
    </a>
  </div>

  <div class="header__menu-wrapper">
    <ul class="header__controls-list">
      <li class="header__control-wrapper">
        <a href="/talents-list-page.html" class="header__control mod-link
        {{#if isTalentPage}}mod-active{{/if}}
          {{#if isTalentsListPage}}mod-active{{/if}}">
          Talents
        </a>
      </li>
      <li class="header__control-wrapper">
        {{#if isMainPage}}
          <button class="header__control header__sort-btn" value="branded">
            Branded
          </button>
        {{else}}
          <a href="/?sort=branded" class="header__control header__sort-btn">
            Branded
          </a>
        {{/if}}
      </li>
      <li class="header__control-wrapper">
        {{#if isMainPage}}
          <button class="header__control header__sort-btn" value="music">
            Music video
          </button>
        {{else}}
          <a href="/?sort=music" class="header__control header__sort-btn">
            Music video
          </a>
        {{/if}}
      </li>
      <li class="header__control-wrapper">
        {{#if isMainPage}}
          <button class="header__control header__sort-btn" value="film">
            Film
          </button>
        {{else}}
          <a href="/?sort=film" class="header__control header__sort-btn">
            Film
          </a>
        {{/if}}
      </li>
      <li class="header__control-wrapper gl-sm-tablet-show">
        <a href="contacts-page.html" class="header__control {{#if isContactsPage}}mod-active{{/if}}">
          Contacts
        </a>
      </li>
    </ul>

    <div class="gl-sm-tablet-show">
      {{> cmt-social-list }}
    </div>
  </div>

  <div class="header__burger-wrapper gl-sm-tablet-show">
    <button class="header__burger"></button>
  </div>

  <div class="header___left-block gl-sm-tablet-hide">
    <div class="gl-sm-tablet-hide">
      {{> cmt-social-list }}
    </div>
    <div class="header__contacts-wrapper">
      <a href="tel:+79061234727" class="header__contacts-tel">
        +7 906 1234 727
      </a>
      <a href="contacts-page.html" class="header__contacts-link">
        Contacts
      </a>
    </div>
  </div>
</header>
