<section class="gl-catalog container" id="main-catalog-host">
  <ul class="gl-catalog__list">
    {{#each cardList}}
      {{#if this.size }}
        <li class="gl-catalog__item gl-catalog__item--{{ this.size }} {{#if
          this.type }}gl-catalog-{{ this.type }}{{/if}}">
          <a href="talent-page.html" class="gl-catalog__link-wrapper">
            <div class="gl-catalog__card-media-wrapper gl-catalog__content">
              {{#if this.img }}
                <img src="{{ this.img }}" alt="" class="gl-catalog__card-content mod-image">
              {{/if}}

              {{#if this.video }}
                <div data-plyr-provider="vimeo"
                     data-plyr-embed-id="{{ this.video }}"
                     class="gl-catalog__card-video">
                </div>
              {{/if}}
            </div>
            <div class="gl-catalog__card-title-wrapper">
              <div class="gl-catalog__card-title-main-content">
                <div class="gl-catalog__card-title-number"></div>
                <div class="gl-catalog__card-title-text">
                  <span class="mark">Unlimint</span> Ready for tomorrow
                </div>
              </div>

              <div class="gl-small-mobile-hide gl-catalog__card-title-mark">
                {{ this.mark }}
              </div>
            </div>
          </a>
        </li>
      {{/if}}

      {{#if isInstagram }}
        <li class="gl-catalog__item gl-catalog__item--poster-square">
          <a href="talent-page.html" class="gl-catalog__link-wrapper">
            <div class="gl-catalog__card-media-wrapper gl-catalog__content">
              <img src="img/catalog/image-inst.jpg" alt="" class="gl-catalog__card-content mod-inst">
              <div class="catalog__card-content-inst">
                <div class="catalog__card-content-inst-title">
                  Follow Us on Instagram
                </div>
                <div class="catalog__card-content-inst-value">
                  2829
                </div>
              </div>
            </div>
            <div class="gl-catalog__card-title-wrapper no-content"></div>
          </a>
        </li>
      {{/if}}

      {{#if isFacebook }}
        <li class="gl-catalog__item gl-catalog__item--poster-square">
          <a href="talent-page.html" class="gl-catalog__link-wrapper catalog__link-wrapper">
            <div class="gl-catalog__card-solid-grey catalog__card-facebook-wrapper gl-catalog__content">
              <img src="img/catalog/facebook.svg" alt="facebook" class="catalog__card-solid-facebook">
            </div>
            <h3 class="gl-catalog__card-title-wrapper">
              Our Facebook
            </h3>
          </a>
        </li>
      {{/if}}

      {{#if isMeduza }}
        <li class="gl-catalog__item gl-catalog__item--poster-square">
          <a href="talent-page.html" class="gl-catalog__link-wrapper">
            <div class="gl-catalog__card-solid-grey catalog__card-meduza-wrapper gl-catalog__content">
              <img src="img/catalog/meduza-logo.svg" alt="meduza-logo" class="catalog__card-content-meduza-logo">
              <div class="catalog__card-content-meduza-caption">
                Best Moscow based production company
              </div>
            </div>
            <h3 class="gl-catalog__card-title-wrapper">
              Press about us
            </h3>
          </a>
        </li>
      {{/if}}

      {{#if isFeater }}
        <li class="gl-catalog__item gl-catalog__item--video-small">
          <a href="talent-page.html" class="gl-catalog__link-wrapper">
            <div class="gl-catalog__card-solid-transparent catalog__card-feather-wrapper gl-catalog__content">
              <img src="img/catalog/feater.svg" alt="feater" class="catalog__card-content-feather-image">
            </div>
            <div class="gl-catalog__card-title-wrapper no-content"></div>
          </a>
        </li>
      {{/if}}
    {{/each}}
  </ul>
</section>
